<!DOCTYPE html>
<html lang="en" ng-app="ngList">
<head>
    <!-- Title &amp; Meta -->
    <title>ng-phawk-list</title>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="author" content="@peteyhawkins">
    <meta name="description" content="A sample angular dropbox app">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="assets/stylesheets/styles.css">

    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-touch-icon-114x114.png">

    <!-- JavaScripts -->
    <script src="//underscorejs.org/underscore-min.js"></script>
    <script src="https://www.dropbox.com/static/api/dropbox-datastores-1.0-latest.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script src="assets/javascripts/built.js"></script>

    <!-- IE Fallbacks -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body ng-controller="AppCtrl">

    <header>
        <h1>ng-list</h1>

        <menu class="signed-out-menu" ng-hide="authed">
            <a href="#" ng-click="signIn($event)">Sign in with Dropbox</a>
        </menu>
        <menu class="signed-in-menu" ng-show="authed">
            Welcome {{user.display_name}}! <a href="#" ng-click="signOut($event)">Sign out</a>
        </menu>
    </header>

    <section ng-controller="TasksCtrl" ng-show="authed">
        <ul class="task-list">
            <li ng-repeat="task in tasks" ng-class="{completed: task.json.completed}">
                <label>
                    <input type="checkbox" ng-model="task.json.completed" ng-click="markTask(task)">
                    {{task.json.name}}
                </label>
                <a href="#" ng-click="removeTask($event, task)" ng-show="task.json.completed">Remove</a>
            </li>
        </ul>

        <form ng-submit="createTask(new_task)">
            <input type="text" name="task_name" ng-model="new_task.name" placeholder="I want to...">
        </form>
    </section>

</body>
</html>
